<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search Corona</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<script src="index.js"></script>

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>CORONA UPDATES</h1>
	<form id="form1">
		<div id="ansr">
		<p><%= result%></p>
		</div>
		<br><br>
		<label for=""> Country <input type="text" id="id1" name="name" placeholder="First letter in Capital" required="required"/></label>
		<p style="font-size: 30px;">Please choose an option</p>
		<label>Deaths <span>  </span> <input type="radio" id="case1" name="opt" value="deaths" required="required"/></label><br>
		<label>Confirmed cases  <input type="radio" id="case2" name="opt" value="confirmed"/></label><br>
		<label>Recovered <input type="radio" id="case3" name="opt" value="recovered"/></label><br>
		<input type="button" onclick="fun1()" value="submit"/>
	  </form>

	</div>
</div>	
</body>
</html>
